#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	help2man -n "restart-services - restart updated services" \
	         -m "Restart-services documentation" \
	         -N ./restart-services | \
	    sed -e 's/DESCRIPTION/SYNOPSIS/' > restart-services.1

